@import "main";

.TransactionList {
  width: 100%;
  height: 100%;

  & .ReactVirtualized__Grid.ReactVirtualized__List.virtualizedList {
    outline: none;
  }

  & .dateGroup {
    & > p {
      color: $color-text-default;
			font-size: 1rem;
			margin-left: $spacing-sm;
    }
    & > ul {
      padding: 8px 0 16px 0;
      & > li {
        &:not(:first-child) {
          border-top: 1px solid $color-divider;
        }
      }
    }
  }
}
