@import "main";

.TransactionList {
  width: 100%;
  height: 100%;

  & .ReactVirtualized__Grid.ReactVirtualized__List.virtualizedList {
    outline: none;
  }

  & .emptyTransactions {
    margin: $spacing-12 $spacing-6;
    text-align: center;
    & > * {
      margin-bottom: $spacing-8;
    }
  }

  & .dateGroup {
    & > .dateGroupHeader {
      padding: $fixed-spacing-2 $fixed-spacing-6 $fixed-spacing-2
        $fixed-spacing-6;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
