.root {
  padding: 16px;
}
/* .datesList { } */

.dateListing {
  padding: 12px 0 0 0;
}

.datestring {
  font-size: 1.1rem;
}

.transactionsList {
  padding: 8px 0 16px 0;
}

.transactionListing {
  padding: 6px 0;
}
