@import "main";

.CategoryChip {
  background: $primary-200;
  transition: background-color $timing-theme;
  padding: 2px 6px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: $spacing-1;
}

@include darkmode {
  .CategoryChip {
    background: $primary-900;
  }
}
