@import "main";

.ThemePicker {
  max-width: 400px;
  $theme-size: 36px;

  & > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, $theme-size);
    gap: $spacing-4;

    & li.theme {
      position: relative;
      width: $theme-size;
      height: $theme-size;
      border-radius: 0.5 * $theme-size;

      cursor: pointer;

      &:hover::after,
      &:focus::after {
        background-color: rgba(255, 255, 255, 0.3);
      }
      &:active::after {
        background-color: rgba(255, 255, 255, 0.5);
      }
      &.isLocked::before {
        background-color: rgba(255, 255, 255, 1);
        transform: scale(0.8);
      }
      &.selected::before {
        background-color: rgba(255, 255, 255, 1);
        transform: scale(0.5);
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0.5 * $theme-size;
        background-color: rgba(255, 255, 255, 0);
        transform: scale(1);
        transition: background-color 100ms, transform 100ms;
      }
    }
  }
}
