@import "main";

.AuthView {
  width: 100%;
  height: 100vh;
  background: white;
  @include sm {
    background: url("../../images/awar-meman-Ujt8Ti-5OQ0-unsplash.jpg");
    background-size: cover;
    display: grid;
    place-items: center;
  }

  .container {
    @include sm {
      border-radius: $border-radius;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
      width: 420px;
      max-width: 95vw;
    }

    & header {
      width: 100%;
      background: $color-primary-main;
      padding: $spacing-sm;
      display: grid;
      grid-auto-flow: row;
      grid-gap: 1rem;
      place-items: center;
      @include sm {
        border-radius: $border-radius $border-radius 0 0;
      }
    }

    & .content {
      width: 100%;
      background: white;
      padding: $spacing-md;
      display: grid;
      grid-auto-flow: row;
      grid-gap: 1rem;
      place-items: center;
      @include sm {
        border-radius: 0 0 $border-radius $border-radius;
      }
    }

    & hr {
      width: 100%;
    }

    & form {
      width: 100%;
      padding: 1rem 0;
      display: grid;
      grid-auto-flow: row;
      grid-gap: 1rem;
      place-items: center;

      & button {
        margin-top: 0.6rem;
      }
    }

    & .logo {
      width: 1rem;
      height: 1rem;
    }

    & .signInOptions {
      width: 100%;
      display: grid;
      grid-auto-flow: row;
      grid-gap: 1rem;

      @include sm {
        grid-auto-flow: column;
      }
    }
  }
}
