@import "main";

.ScheduleForm {
  & > div {
    & > p.title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    & > .inputs {
      padding-top: $spacing-3;
      display: flex;
      align-items: center;
      gap: $spacing-4;
    }
  }

  & > .repeatEvery {
    padding: $spacing-3;
    border: 1px solid $gray-300;
    border-radius: $radius-sm;
  }

  & > .endsAfter {
    margin-top: $spacing-4;
    padding: $spacing-3;
    border: 1px solid $gray-300;
    border-radius: $radius-sm;
    & > p.endson {
      padding-top: $spacing-2;
    }
  }
}

@include darkmode {
  .ScheduleForm {
    & > .repeatEvery {
      border-color: $gray-800;
    }
    & > .endsAfter {
      border-color: $gray-800;
    }
  }
}
