@import "main";

.ScheduleForm {
  padding: $spacing-4;

  & > div {
    & > p.title {
      padding-bottom: $spacing-3;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    & > .inputs {
      display: flex;
      align-items: center;
      gap: $spacing-4;
    }
  }

  & > .repeatEvery {
    padding-bottom: $spacing-3;
    border-bottom: 1px solid $gray-300;
  }

  & > .endsAfter {
    padding-top: $spacing-3;
    & > p.endson {
      padding-top: $spacing-2;
    }
  }
}

@include darkmode {
  .ScheduleForm {
    & > .repeatEvery {
      border-bottom-color: $gray-800;
    }
  }
}
