@import "main";

.EnhancedButton {
	position: relative;

	& .enhancedButtonLoader {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}