@import "main";

.TransactionTable {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
  box-shadow: $shadow-sm;

  &.ContainerBlock {
    padding: 0;
  }

  & .listContainer {
    flex: 1;
  }

  & .virtualizedList {
    width: 100%;
    height: 100%;
    outline: none;
  }

  & .upcomingTransactions {
    & .upcomingTransactionsHandle {
      height: 32px;
      overflow: hidden;
      & button {
        height: 100%;
        & span.MuiButton-label {
          color: $gray-500;
          @include text-bold;
        }
      }
    }
  }

  & li.transactionTableRowContainer {
    transition: top 330ms $animate-snap-back;
  }

  & li {
    list-style: none;
  }

  & .noTransactions {
    height: 4rem;
    display: grid;
    place-items: center;
  }
}

@include darkmode {
  .TransactionTable {
    & .upcomingTransactions {
      & .upcomingTransactionsHandle {
        & button {
          & span.MuiButton-label {
            color: $gray-500;
            @include text-bold;
          }
        }
      }
    }
  }
}
