@import "main";

.AnalyticsAverageTotals {
  & > .header {
    margin-bottom: $spacing-1;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    & > .Type:first-child {
      margin-right: $spacing-4;
    }
  }
  & > .subtotals {
    display: flex;
    align-items: baseline;
    & > *:not(:last-child) {
      margin-right: $spacing-4;
    }
  }
}
