@import "main";

.SidebarNavigation {
  position: relative;
  z-index: 1;
  height: 100%;
  max-width: $sidebar-width;
  background: white;
  display: flex;
  flex-direction: column;
  &.open {
    min-width: 246px;
  }

  & .header {
    height: $header-height;
    position: relative;

    & .logoContainer {
      padding: 0 $spacing-6 + $spacing-4;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      & .logo {
        // Visual correction
        & > .Logo {
          transform: translateY(4px);
        }
        width: 100%;
      }
    }
  }

  & .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    @include background-shadow-sm;

    & .links {
      padding: $spacing-4 $spacing-6;
      position: relative;

      & .submenu {
        position: relative;
        padding-left: $spacing-6;
        transition: padding-left 100ms;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: $spacing-1;
          border-radius: $radius-sm;
          background: $primary-500;
        }
        &:not(.open) {
          padding-left: 0;
          &::before {
            border-radius: $radius-sm 0 0 $radius-sm;
          }
        }
      }

      & .link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        padding: $spacing-3 $spacing-4;
        margin-bottom: $spacing-2;

        border: none;
        background: none;
        border-radius: $radius-sm;

        cursor: pointer;

        &:focus,
        &:hover {
          outline: none;
          background: $gray-300;
          &.activePrimary {
            transition: background-color $timing-theme;
            background: $primary-600;
          }
          // &.activeSecondary {
          // background: $primary-500;
          // }
        }

        &:active {
          background: $gray-100;
          &.activePrimary {
            transition: background-color $timing-theme;
            background: $primary-700;
          }
        }

        & svg {
          margin-right: $spacing-4;
          transform: scale(0.9);
          transform-origin: left;
          color: $primary-400;
          stroke-width: 2.5px;
        }

        & .Type {
          color: $gray-800;
        }

        &.activePrimary {
          transition: background-color $timing-theme;
          color: white;
          & .Type,
          & svg {
            color: white;
            stroke-width: 1.5px;
          }
          background: $primary-500;
        }

        &.closed {
          & .Type {
            display: none;
          }
          & svg {
            margin: 0 auto;
          }
        }

        &.hasSubmenu {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: -10px;
            left: 0;
            width: $spacing-1;
            border-radius: $radius-sm;
            background: $primary-500;
          }
          &:not(.open) {
            &::before {
              border-radius: $radius-sm 0 0 $radius-sm;
            }
          }
        }
      }
    }

    & .extra {
      margin-top: auto;
      padding: $spacing-4 $spacing-6;
    }

    & .actions {
      padding: $spacing-4 $spacing-6;
      position: relative;

      & .toggle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: $spacing-3 $spacing-4;

        border: none;
        background: none;
        cursor: pointer;
        border-radius: $radius-sm;

        &:hover,
        &:focus {
          background: $gray-100;
        }
        &:active {
          background: $gray-200;
        }

        & > span {
          height: 24px;
        }
        &.closed {
          & > span {
            margin: 0 auto;
          }
        }
      }
    }
  }

  & > .cornerPiece {
    display: block;
    position: absolute;
    top: $header-height;
    left: 100%;
  }

  &__linkTooltip {
    display: flex;
    gap: $spacing-2;
  }
}

@include darkmode {
  & .SidebarNavigation {
    background: $gray-830;
    & .body {
      & .links {
        & .link {
          & .Type {
            color: $gray-300;
          }
          &:focus,
          &:hover {
            background: $gray-820;
            &.activePrimary {
              background: $primary-600;
            }
          }

          &:active {
            background: $gray-800;
            &.activePrimary {
              background: $primary-700;
            }
          }

          &.activePrimary {
            background: $primary-500;
          }
        }
      }
      & .actions {
        & svg {
          color: $gray-100;
        }
        & .toggle {
          &:hover,
          &:focus {
            background: $gray-900;
          }
          &:active {
            background: $gray-800;
          }
        }
      }
    }
    & > .cornerPiece > path {
      fill: $gray-830;
    }
  }
}
