@import "main";

.TransactionListFilters {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & * {
    text-transform: uppercase;
  }

  & > .left {
    display: flex;
    align-items: center;
  }
}
