@import "main";

.TransactionListFilters {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & * {
    text-transform: uppercase;
  }

  & > .date-selector {
    display: flex;
    align-items: center;
    width: 100%;

    & .MuiButtonGroup-root {
      display: grid;
      width: 100%;
      grid-template-columns: 48px repeat(3, 1fr) 48px;

      & button {
        border: none;
      }

      & .selected-button {
        background: $color-primary-main;
        color: white;
        &:hover {
          background: $color-primary-700;
        }
      }
    }
  }
}
