@import "main";

.DashboardTab {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  & header {
    position: relative;
    padding: $spacing-lg;
    background: $color-primary-main;
    color: white;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      object-fit: cover;
    }

    & h1 {
      font-size: 1.6rem;
      font-weight: bold;
      &::after {
        content: "";
        display: block;
        width: 60px;
        height: 2px;
        background: white;
        margin: 16px 0;
        border-radius: 1px;
      }
    }

    & .totals {
      padding: 1.5rem 0 0;

      & h2 {
        margin: 1rem 0;

        & span {
          font-size: 1.8rem;
          font-weight: bold;
          &.larger {
            font-size: 2.2rem;
          }
        }
      }

      & .subtotals {
        display: flex;
        opacity: 0.6;

        & .subtotal {
          display: flex;
          align-items: center;
          margin-right: 1rem;

          & svg {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  & main {
    overflow: auto;
    padding: 0 $spacing-lg $spacing-lg;
    padding-bottom: $mobile-bottom-offset;

    @include sm {
      padding-bottom: 2rem;
    }

    & .filters {
      padding: 0.5rem 0;
      position: sticky;
      top: 0;
      background: white;
      z-index: 1;
    }

    & .list {
      z-index: 0;
    }
  }
}
