@import "main";

.Settings {
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
  padding: $spacing-10 $spacing-6 0;
  @include md {
    padding: 0;
    max-width: 660px;
    margin: 0 auto;
  }

  @include md {
    padding: $spacing-8 $spacing-16 0;
  }

  & .profilePanel {
    & > .content > button {
      margin-top: $spacing-8;
    }
  }

  & .fileHandlers {
    & > *:not(.header) {
      margin-top: $spacing-4;
    }
  }

  & .feedbackSection {
    & label {
      display: block;
      padding-bottom: $spacing-4;
    }
  }

  &.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    & > p {
      margin: $spacing-8 0;
    }
  }

  & .version {
    padding: $spacing-6 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-2;
  }

  &__headerContent {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -65%);
    z-index: 100;
    & .UserAvatar {
      box-shadow: $shadow-md;
      $size: 100px;
      width: $size;
      height: $size;
    }
  }
}
