@import "main";

.Settings {
  width: 100%;
  height: 100%;
  overflow: auto;
  @include md {
    padding: $spacing-8 $spacing-16 0;
  }

  & > .profilePanel {
    & > .content > button {
      margin-top: $spacing-8;
    }
  }

  & > .fileHandlers {
    & > .content > * {
      &:first-child {
        margin-top: 0;
      }
      margin-top: $spacing-4;
    }
  }

  &.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    & > p {
      margin: $spacing-8 0;
    }
  }

  & .version {
    padding: $spacing-6 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-2;
  }
}
