@import "main";

.Settings {
  height: 100%;
  width: 100%;
  overflow: hidden;

  & .settingsSkeleton {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > * {
      margin: 2rem 0;
    }
  }

  & .pageHeaderContent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & .pageHeaderAvatarContainer {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);

      & .MuiAvatar-root {
        width: 8rem;
        height: 8rem;
        background: $color-primary-main;

        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  & .content {
    margin-top: 4rem;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    & .profileDetails {
      max-width: 480px;
      width: 100%;
      & .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    & .uploader {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      max-width: 480px;
      width: 100%;
    }

    & .downloader {
      margin-bottom: 2rem;
      margin-top: 0.5rem;
      max-width: 480px;
      width: 100%;
    }

    & .logOutContainer {
      padding: 2rem 0;
      max-width: 480px;
      width: 100%;

      & .MuiButton-root {
        width: 100%;
      }
    }
  }
}
