@import "main";
.Text {
  &.color-default {
    color: $color-text-default;
  }

  &.color-primary {
    color: $color-primary-main;
  }

  &.color-white {
    color: white;
  }

  &.color-black {
    color: black;
  }

  &.weight-bold {
    font-weight: 700;
  }

  &.weight-default {
    font-weight: 400;
  }

  &.weight-light {
    font-weight: 300;
  }

  &.padding-none {
    padding: 0rem 0;
  }

  &.padding-xs {
    padding: 0.3rem 0;
  }

  &.padding-sm {
    padding: 0.6rem 0;
  }

  &.padding-md {
    padding: 0.9rem 0;
  }

  &.padding-lg {
    padding: 1.2rem 0;
  }

  &.padding-xl {
    padding: 1.5rem 0;
  }

  &.clickable {
    cursor: pointer;
  }

  &.error {
    color: $color-error-main;
  }

  &.Header {
    letter-spacing: 0.4px;
    &.H1 {
      font-size: 2.5rem;
    }
    &.H2 {
      font-size: 2rem;
    }
    &.H3 {
      font-size: 1.8rem;
    }
    &.H4 {
      font-size: 1.6rem;
    }
    &.H5 {
      font-size: 1.4rem;
    }
    &.H6 {
      font-size: 1.2rem;
    }
  }

  &.Paragraph {
    font-size: 1rem;
  }

  &.Span {
    font-size: 1rem;
  }
}
