@import "main";

.TransactionTableRowSkeleton {
  display: grid;
  grid-template-columns: 12rem 1fr 32px 3fr 8rem 1rem;
  grid-template-areas: "action-category amount p1 comment date p2";
  height: 36px;
  align-items: center;

  & > div {
    height: 100%;
    padding: 8px 0;
  }

  & .action-category {
    grid-area: action-category;
  }

  & .amount {
    grid-area: amount;
    justify-self: end;
  }

  & .comment {
    grid-area: comment;
  }

  & .date {
    grid-area: date;
    justify-self: end;
  }
}
