@import "main";

// Generate all color styles
@each $name, $color in $colors {
  .SparkLine > svg > path.stroke-#{$name} {
    fill: none;
    stroke: $color;
  }
  .SparkLine > svg > defs > linearGradient > stop.#{$name} {
    stop-color: $color;
  }
}

.SparkLine {
  width: 100%;
  height: 100%;

  & > svg {
    & > path {
      stroke-linecap: round;
    }
  }
}

@include darkmode {
  .SparkLine {
    & > svg {
      & > path {
        &.sparkline-blur {
          filter: blur(1px);
        }
      }
    }
  }
}
