@import "main";

.SelectionPanel {
  // Adjust for button edges and icon buttons
  padding: 0 calc(#{$spacing-sm} - 6px);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  @include md {
    height: 40px;
  }

  & .floatLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    & .MuiIconButton-root {
      margin-right: 0.5rem;
    }
  }

  & .deleteButton {
    color: $color-error-main;
  }
}
