@import "main";

.TransactionTableRow {
  display: grid;
  grid-template-columns: 36px calc(12rem - 36px) 1fr 32px 3fr 8rem 1rem;
  grid-template-areas: "action category amount p1 comment date p2";
  height: 36px;
  align-items: center;

  & .action {
    grid-area: action;
    & .MuiIconButton-root {
      border-radius: 0;
      height: 36px;
      width: 36px;
      display: flex;
      justify-content: flex-end;
      & svg {
        font-size: 1.3rem;
      }
    }
  }

  & .amount {
    grid-area: amount;
    justify-self: end;
  }

  & .category {
    grid-area: category;
    display: flex;
    align-items: center;
  }

  & .comment {
    grid-area: comment;
    color: rgba(0, 0, 0, 0.6);
  }

  & .date {
    grid-area: date;
    justify-self: end;
    color: rgba(0, 0, 0, 0.9);
  }

  &:hover {
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
}
