@import "main";

.TransactionTableRow {
  display: grid;
  grid-template-columns: auto 3fr 2fr 4fr 1.5fr;
  grid-template-areas: "action category amount comment date";
  height: 40px;
  align-items: stretch;

  &.selected {
    background: $blue-100;
  }

  &:hover {
    background: $gray-200;
    cursor: pointer;
  }

  & > * {
    display: flex;
    align-items: center;
    padding: 0 $spacing-4;
  }

  & .action {
    grid-area: action;

    & svg {
      cursor: pointer;
      color: $gray-600;
      &.selected {
        color: $blue-500;
      }
    }
  }

  & .amount {
    grid-area: amount;
    justify-self: end;
  }

  & .category {
    grid-area: category;
    display: flex;
    align-items: center;
  }

  & .comment {
    grid-area: comment;
    color: rgba(0, 0, 0, 0.6);
  }

  & .date {
    grid-area: date;
    justify-self: end;
    color: rgba(0, 0, 0, 0.9);
  }
}
