@import "main";

.AnalyticsAverageCategories {
  display: grid;
  grid-template-rows: auto auto;
  gap: $spacing-8;

  & > div {
    & > ul {
      & > .empty {
        padding: $spacing-2 0 0;
      }
    }
  }

  &__headerContent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
