.root {
  width: 100%;
  height: 100%;
  grid-area: apptabs;
  z-index: var(--app-tab-z);
}

.tabContainer {
  width: 100%;
  height: var(--app-tab-height);
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 var(--shadow-blur-medium) var(--shadow-color-medium);
}

.tab {
  padding: 4px;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: none;
  background: var(--color-white);

  transition: background-color 100ms;
}

.tab:hover {
  background-color: var(--color-action-hover);
}

.tab:active {
  background-color: var(--color-action-hover);
}

.tab_active * {
  color: var(--color-primary-main);
}

.tab svg {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

@media (min-width: 600px) {
  .tabContainer {
    width: var(--app-tab-width);
    height: 100%;
    flex-direction: column;
    justify-content: start;
  }
  .tab {
    flex: none;
    height: var(--app-tab-height);
    flex-direction: row;
    justify-content: start;
  }
  .tab svg {
    margin: 0px 8px;
  }
}
