@import "main";

.AnalyticsAllTimeLine {
  & > .chart {
    margin-left: -26px;
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $spacing-2;
  }
}
