@import "main";

.Budgets {
  padding: $spacing-4 $spacing-6;
  @include md {
    padding: $spacing-8 $spacing-16;
  }
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: $spacing-8;

  & .budgetsList {
    & ul {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: $spacing-8;
    }
  }

  & .addBudget {
    display: flex;
    margin: $spacing-8 auto 0;
  }

  & .noBudgets {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    justify-content: center;
    text-align: center;

    & > .title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $spacing-4;
    }

    & > svg {
      color: $primary-500;
      margin: 0 auto;
    }
  }
  & .BetaFeatureBanner {
    margin-bottom: $spacing-8;
  }

  &__headerContent {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    & > p > span {
      margin-right: $spacing-2;
    }
    & > .limit {
      bottom: 0;
      right: 0;
      position: absolute;
    }
  }
}

@include darkmode {
  .Budgets {
    & .noBudgets {
      & > svg {
        color: $primary-400;
      }
    }
  }
}
