@import "main";

.TransactionContextMenu {
  & .MuiMenuItem-root {
    & svg {
      margin-right: 0.5rem;
    }
    &.editItem svg {
      color: $primary-500;
    }
    &.deleteItem svg {
      color: $red-500;
    }
  }
}
