@import "main";

.TransactionContextMenu {
  & .MuiDivider-root {
    margin: $spacing-2 0;
    background: $gray-300;
  }
  & .MuiMenuItem-root {
    & .shortcut {
      padding-left: $spacing-2;
      margin-left: auto;
    }
    & svg {
      margin-right: 0.5rem;
    }
    &.editItem svg {
      color: $primary-600;
      transition: color $timing-theme;
    }
    &.deleteItem svg {
      color: $red-500;
    }
  }
}
@include darkmode {
  .TransactionContextMenu {
    & .MuiMenuItem-root {
      &.editItem svg {
        color: $primary-400;
      }
      &.deleteItem svg {
        color: $red-400;
      }
    }
  }
}
