@import "main";

.TransactionContextMenu {
  & .MuiDivider-root {
    margin: $spacing-2 0;
    background: $gray-300;
  }
  & .MuiMenuItem-root {
    & .shortcut {
      padding-left: $spacing-2;
      margin-left: auto;
    }
    & svg,
    & .MuiIcon-root {
      margin-right: 0.5rem;
    }
    &.editItem svg,
    &.editItem .MuiIcon-root {
      color: $primary-600;
      transition: color $timing-theme;
    }
    &.copyItem svg,
    &.copyItem .MuiIcon-root {
      color: $primary-600;
      transition: color $timing-theme;
    }
    &.deleteItem svg,
    &.deleteItem .MuiIcon-root {
      color: $red-500;
    }
  }
}
@include darkmode {
  .TransactionContextMenu {
    & .MuiMenuItem-root {
      &.editItem svg,
      &.editItem .MuiIcon-root {
        color: $primary-400;
      }
      &.copyItem svg,
      &.copyItem .MuiIcon-root {
        color: $primary-400;
      }
      &.deleteItem svg,
      &.deleteItem .MuiIcon-root {
        color: $red-400;
      }
    }
  }
}
