@import "main";

.TransactionListItem {
  $size: 48px;

  position: relative;
  padding: $fixed-spacing-4 $spacing-6;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: #{0.5 * $size} #{0.5 * $size};
  grid-template-areas:
    "icon category amount"
    "icon comment amount";
  grid-gap: 0 $spacing-4;
  place-items: center left;

  &.pressed {
    background: $primary-100;
    transition: background-color $timing-theme;
  }

  & .icon {
    grid-area: icon;
    place-self: center;

    & .iconContainer {
      width: $size;
      height: $size;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      border-radius: 50%;
      background: $gray-200;
      overflow: hidden;

      & .emoji {
        line-height: 1;
        transform: scale(1.6);
      }
    }

    &.selectionActive.selected .iconContainer {
      background-color: $primary-500;
      transition: background-color $timing-theme;
      color: white;
    }
  }

  & .category {
    grid-area: category;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  & .comment {
    grid-area: comment;
    max-width: 100%;
    overflow: hidden;
    & p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  & .amount {
    grid-area: amount;
    display: flex;
    align-items: center;
  }
}

@include darkmode {
  .TransactionListItem {
    &.pressed {
      background: $gray-810;
    }

    & .icon {
      & .iconContainer {
        background: $gray-800;
      }
    }
  }
}
