@import "main";

.TransactionListItem {
  padding: 6px 1rem 6px 0;
  height: 68px;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "icon category amount"
    "icon comment amount";
  grid-gap: 0 24px;

  &.pressed {
    background: rgba(0, 0, 0, 0.1);
  }

  & .icon {
    grid-area: icon;
    place-self: center;

    & .iconContainer {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.1);
      color: white;
    }

    &.positive .iconContainer {
      background-color: $color-positive-main;
    }

    &.negative .iconContainer {
      background-color: $color-negative-main;
    }
  }

  & .category {
    height: 28px;
    display: flex;
    align-items: center;
    font-weight: $font-weight-bold;
    grid-area: category;
  }

  & .comment {
    height: 28px;
    display: flex;
    align-items: center;
    grid-area: comment;
    opacity: 0.6;
  }

  & .amount {
    grid-area: amount;
    display: flex;
    align-items: center;

    & span {
      font-family: $roboto-condensed;
      font-weight: $font-weight-bold;
      font-size: 1.4rem;
    }

    &.positive {
      color: $color-positive-main;
    }

    &.negative {
      color: $color-negative-main;
    }
  }

  &.deleting {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.TransactionListItem_actionsDrawer {
  padding: $spacing-sm;
  min-height: 50vh;
  max-height: 80vh;
  @include lg {
    max-width: 50vw;
  }

  & .actionsDrawerActions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  & .deleteAction {
    color: $color-error-main;
  }
}
