@import "main";

.AnalyticsCategory {
  display: grid;
  grid-template:
    "category amount" auto
    "bars bars" auto / 1fr auto;
  gap: $spacing-1 $spacing-2;
  padding: $spacing-2 0;

  & > .category {
    grid-area: category;
    & > *:not(.count) {
      margin-right: $spacing-2;
    }
  }
  & > .amount {
    grid-area: amount;
    margin-left: auto;
  }
  & > .percentage {
    grid-area: percentage;
    margin-left: auto;
    display: none;
  }

  & > .bars {
    grid-area: bars;
    position: relative;
    height: 4px;
    & > .activeBar,
    & > .backgroundBar {
      position: absolute;
      height: 4px;
      border-radius: 4px;
    }
    & > .activeBar {
      &.expense {
        background: $red-500;
      }
      &.income {
        background: $green-500;
      }
    }
    & > .backgroundBar {
      background: $gray-300;
      width: 100%;
    }
  }
}
