@import "main";

.IntervalManager {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  & * {
    color: $gray-800;
  }
  & .arrow-buttons {
    display: flex;
    flex-wrap: nowrap;
    margin-right: $spacing-4;
    &.controlsReversed {
      margin-left: $spacing-4;
      margin-right: 0;
    }
  }
  & .label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // max-width: 30vw;
  }
  &__Menu {
    padding: $spacing-4 $spacing-8;
  }
  &__Drawer {
    padding: $spacing-6;
  }
}

@include darkmode {
  .IntervalManager {
    & * {
      color: $gray-200;
    }
  }
}
