@import "main";

.IntervalManager {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  & * {
    color: $gray-800;
  }
  & .arrow-buttons {
    margin-right: $spacing-4;
    display: inline;
  }
  &__Menu {
    padding: $spacing-4 $spacing-8;
  }
  &__Drawer {
    padding: $spacing-6;
  }
}
