@import "main";

.UserManager {
  & .MuiAvatar-root {
    transition: background-color $timing-theme;
    transform: scale(0.9);
    transform-origin: right;
    cursor: pointer;
    outline: none;
  }
}
