@import "main";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");

body * {
  font-family: $poppins;
}

:root {
  --full-vh: 100vh;
  --vh: 1vh;
}

.MuiButton-root.MuiButton-contained {
  box-shadow: none;
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: $bp-md) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: unset;
  }
  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: $blue-500;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-track {
    background: $white;
  }
}
