@import "main";
@import "theme";
@import "reset";

body * {
  font-family: $roboto;
  font-size: 1rem;
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: unset;
  }
  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: $color-primary-main;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
}
