// Layout constants

$header-height: 5rem;
$mobile-header-height: 160px;
$sidebar-width: 290px;

// Colors: Blue

$blue-900: #060040;
$blue-800: #030380;
$blue-700: #08109c;
$blue-600: #1836ce;
$blue-500: #2a52e2;
$blue-400: #6291ef;
$blue-300: #83aff4;
$blue-200: #c7e1fb;
$blue-100: #eaf5fe;

// Colors: Red

$red-900: #610a3b;
$red-800: #881348;
$red-700: #b01e51;
$red-600: #d22d58;
$red-500: #ef3e5e;
$red-400: #f36a73;
$red-300: #f79b96;
$red-200: #fbccc3;
$red-100: #fef4ef;

// Colors: Green

$green-900: #00151b;
$green-800: #034549;
$green-700: #09736a;
$green-600: #129a7c;
$green-500: #1dc588;
$green-400: #4dd39c;
$green-300: #7fe5b6;
$green-200: #b4f2d3;
$green-100: #edfdf4;

// Colors: Gray

$gray-900: #141414;
$gray-840: #1b1a1a;
$gray-830: #1f1f22;
$gray-820: #29292c;
$gray-810: #2f2f33;
$gray-800: #3c3c42;
$gray-700: #63626b;
$gray-600: #8a8894;
$gray-500: #b2aebc;
$gray-400: #c3c0cd;
$gray-300: #d4d2dd;
$gray-200: #f0f0f5;
$gray-100: #f9f9fb;

// Colors: Misc

$white: #ffffff;
$black: #000000;

// Primary color as blue

$primary-900: $blue-900;
$primary-800: $blue-800;
$primary-700: $blue-700;
$primary-600: $blue-600;
$primary-500: $blue-500;
$primary-400: $blue-400;
$primary-300: $blue-300;
$primary-200: $blue-200;
$primary-100: $blue-100;

// Borders

$border-color: $gray-300;
$border: $border-color 1px solid;

// Typography: Fonts

$roboto: "Roboto", Helvetica, Arial, sans-serif;
$roboto-condensed: "Roboto Condensed", Helvetica, Arial, sans-serif;
$poppins: "Poppins", "Roboto", Helvetica, Arial, sans-serif;

// Spacing

$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-10: 2.5rem;
$spacing-12: 3rem;
$spacing-14: 3.5rem;
$spacing-16: 4rem;
$spacing-20: 5rem;
$spacing-24: 6rem;
$spacing-28: 7rem;
$spacing-32: 8rem;
$spacing-36: 9rem;
$spacing-40: 10rem;

// Fixed spacings in px units for specific usecases

$fixed-spacing-1: 4px;
$fixed-spacing-2: 8px;
$fixed-spacing-3: 12px;
$fixed-spacing-4: 16px;
$fixed-spacing-5: 20px;
$fixed-spacing-6: 24px;
$fixed-spacing-8: 32px;
$fixed-spacing-10: 40px;
$fixed-spacing-12: 48px;
$fixed-spacing-14: 56px;
$fixed-spacing-16: 64px;
$fixed-spacing-20: 80px;
$fixed-spacing-24: 96px;
$fixed-spacing-28: 112px;
$fixed-spacing-32: 128px;
$fixed-spacing-36: 144px;
$fixed-spacing-40: 160px;

// Known paddings

$spacing-icon-button: 12px;
$spacing-button-vertical: 6px;
$spacing-button-horizontal: 8px;

// Spacing adjusting for known paddings

@function adjust-spacing($spacing, $adjustment) {
  @return calc(#{$spacing} - #{$adjustment});
}

// Animations

$timing-1: 100ms;
$timing-2: 200ms;
$timing-3: 300ms;

$animate-snap-back: cubic-bezier(0.21, 1.47, 0, 1);

// Radii

$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;

// Typography: Font sizes

$text-xxxl: 3rem;
$text-xxl: 2.25rem;
$text-xl: 1.5rem;
$text-lg: 1.25rem;
$text-md: 0.95rem;
$text-sm: 0.75rem;

// Typography: Font weights

$text-light: 300;
$text-bold: 700;
$text-regular: 400;

// Typography: Text Spacing

$text-regular-spacing: 0px;
$text-bold-spacing: 0px;
$text-boldcaps-spacing: 0.69px;

// Typography: Font variants

@mixin text-regular {
  font-weight: $text-regular;
  font-family: $poppins;
  letter-spacing: $text-regular-spacing;
}

@mixin text-bold {
  font-weight: $text-bold;
  font-family: $poppins;
  letter-spacing: $text-bold-spacing;
}

@mixin text-boldcaps {
  font-weight: $text-bold;
  font-family: $poppins;
  text-transform: uppercase;
  letter-spacing: $text-boldcaps-spacing;
}

// Typography: Full font types

@mixin text-regular-xxxl {
  font-size: $text-xxxl;
  @include text-regular;
}

@mixin text-regular-xxl {
  font-size: $text-xxl;
  @include text-regular;
}

@mixin text-regular-xl {
  font-size: $text-xl;
  @include text-regular;
}

@mixin text-regular-lg {
  font-size: $text-lg;
  @include text-regular;
}

@mixin text-regular-md {
  font-size: $text-md;
  @include text-regular;
}

@mixin text-regular-sm {
  font-size: $text-sm;
  @include text-regular;
}

@mixin text-bold-xxxl {
  font-size: $text-xxxl;
  @include text-bold;
}

@mixin text-bold-xxl {
  font-size: $text-xxl;
  @include text-bold;
}

@mixin text-bold-xl {
  font-size: $text-xl;
  @include text-bold;
}

@mixin text-bold-lg {
  font-size: $text-lg;
  @include text-bold;
}

@mixin text-bold-md {
  font-size: $text-md;
  @include text-bold;
}

@mixin text-bold-sm {
  font-size: $text-sm;
  @include text-bold;
}

@mixin text-boldcaps-xxxl {
  font-size: $text-xxxl;
  @include text-boldcaps;
}

@mixin text-boldcaps-xxl {
  font-size: $text-xxl;
  @include text-boldcaps;
}

@mixin text-boldcaps-xl {
  font-size: $text-xl;
  @include text-boldcaps;
}

@mixin text-boldcaps-lg {
  font-size: $text-lg;
  @include text-boldcaps;
}

@mixin text-boldcaps-md {
  font-size: $text-md;
  @include text-boldcaps;
}

@mixin text-boldcaps-sm {
  font-size: $text-sm;
  @include text-boldcaps;
}

// 100 vh fix for mobile

$fullvh: var(--full-vh, 100vh);
$vh: var(--vh, 1vh);

// Breakpoints and breakpoint mixins

$bp-sm: 600px;
$bp-md: 900px;
$bp-lg: 1200px;

@mixin desktop {
  @media (min-width: $bp-md) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$bp-md - 1px}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $bp-sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $bp-md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $bp-lg) {
    @content;
  }
}

@mixin min-width($mw) {
  @media (min-width: $mw) {
    @content;
  }
}

// Old
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$spacing-sm: $spacing-2;
$spacing-md: $spacing-4;
$spacing-lg: $spacing-8;
$color-primary-main: $blue-500;
$color-primary-light: $blue-200;
$color-primary-dark: $blue-800;
$color-primary-50: $blue-100;
$color-primary-100: $blue-100;
$color-primary-200: $blue-200;
$color-primary-300: $blue-300;
$color-primary-400: $blue-400;
$color-primary-500: $blue-500;
$color-primary-600: $blue-600;
$color-primary-700: $blue-700;
$color-primary-800: $blue-800;
$color-primary-900: $blue-900;
$color-positive-main: $green-500;
$color-negative-main: $red-500;
$color-error-main: $red-500;
$color-error-light: $red-200;
$color-error-dark: $red-800;
$color-divider: $gray-200;
$color-action-focus: $gray-300;
$color-action-hover: $gray-400;
$color-action-active: $gray-500;
$color-action-primary-focus: $blue-300;
$color-action-primary-hover: $blue-400;
$color-action-primary-active: $blue-500;
$color-text-default: $gray-900;
$border-radius: 0.4rem;
$shadow-blur-small: 6px;
$shadow-blur-medium: 20px;
$shadow-color-medium: rgba(0, 0, 0, 0.15);
$shadow-color-strong: rgba(0, 0, 0, 0.2);
$app-tab-height: 60px;
$app-tab-width: 14rem;
$app-header-height: 160px;
$app-tab-z: 900;
$container-max-width: 960px;
$icon-size-xs: 1rem;
$icon-size-sm: 1.25rem;
$icon-size-md: 1.5rem;
@mixin button-reset {
  border: 0;
  padding: 0;
  background: 0;
  cursor: pointer;
}
