:root {
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;

  @media (max-width: 599px) {
    --spacing-md: 0.7rem;
    --spacing-md: 1.4rem;
    --spacing-lg: 2.1rem;
  }

  --color-primary-main: #5e24ff;
  --color-primary-light: #767ee5;
  --color-primary-dark: #300d94;
  --color-primary-50: #f7f3ff;
  --color-primary-100: #aeb2ef;
  --color-primary-200: #979de8;
  --color-primary-300: #767ee5;
  --color-primary-400: #6a4ef6;
  --color-primary-500: #5e24ff;
  --color-primary-600: #420cd8;
  --color-primary-700: #390cb5;
  --color-primary-800: #300d94;
  --color-primary-900: #200d55;

  --color-positive-main: #07b1b6;

  --color-negative-main: #ff437c;

  --color-error-main: #f44336;
  --color-error-light: #e57373;
  --color-error-dark: #d32f2f;

  --color-divider: #ddd;

  --color-action-focus: #f3f3f3;
  --color-action-hover: #e7e7e7;
  --color-action-active: #dbdbdb;

  --color-action-primary-focus: rgba(94, 36, 255, 0.05);
  --color-action-primary-hover: rgba(94, 36, 255, 0.1);
  --color-action-primary-active: rgba(94, 36, 255, 0.16);

  --color-text-default: rgba(0, 0, 0, 0.78);

  --color-white: #ffffff;
  --color-black: #000000;
}
