:root {
  /** TYPOGRAPHY */

  --font-family-roboto: Roboto, Helvetica, Arial, sans-serif;

  --font-size-default: 1rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /** PALETTE */

  --color-primary-main: #5e24ff;
  --color-primary-light: #767ee5;
  --color-primary-dark: #300d94;
  --color-primary-50: #f7f3ff;
  --color-primary-100: #aeb2ef;
  --color-primary-200: #979de8;
  --color-primary-300: #767ee5;
  --color-primary-400: #6a4ef6;
  --color-primary-500: #5e24ff;
  --color-primary-600: #420cd8;
  --color-primary-700: #390cb5;
  --color-primary-800: #300d94;
  --color-primary-900: #200d55;

  --color-error-main: #f44336;
  --color-error-light: #e57373;
  --color-error-dark: #d32f2f;

  --color-divider: rgba(0, 0, 0, 0.12);

  --color-action-focus: rgba(0, 0, 0, 0.05);
  --color-action-hover: rgba(0, 0, 0, 0.1);
  --color-action-active: rgba(0, 0, 0, 0.16);

  --color-action-primary-focus: rgba(94, 36, 255, 0.05);
  --color-action-primary-hover: rgba(94, 36, 255, 0.1);
  --color-action-primary-active: rgba(94, 36, 255, 0.16);

  --color-black: #000;
  --color-white: #fff;

  /** SHADOWS */

  --shadow-blur-medium: 20px;

  --shadow-color-medium: rgba(0, 0, 0, 0.15);

  /** LAYOUT */

  --nav-bar-height: 60px;
  --app-tab-height: 60px;
  --app-tab-width: 160px;

  --nav-bar-z: 1000;
  --app-tab-z: 900;

  /** ICONS */

  --icon-size-xs: 1rem;
  --icon-size-sm: 1.25rem;
  --icon-size-md: 1.5rem;
}
