@import "main";

.TransactionForm {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
  padding: $spacing-sm;

  @include sm {
    padding: $spacing-md;
    grid-gap: 1.5rem;
    width: 22rem;
    & > button {
      margin-top: 1rem;
    }
  }
}
