@import "main";

.TransactionForm {
  display: grid;
  grid-template:
    "title" auto
    "amount" auto
    "category" auto
    "comment" auto
    "time" auto
    "submit" auto / 100%;
  gap: $spacing-4;

  &.horizontal {
    width: 100%;
    grid-template: "amount amount category category" auto "comment comment time submit" auto/ 1fr 1fr 1fr 1fr auto;
    gap: $spacing-4 $spacing-2;
    @include lg {
      grid-template: "amount category comment time submit" auto/ 5fr 4.2fr 3.5fr 3.6fr auto;
      gap: 0 $spacing-2;
    }
  }

  & .title {
    grid-area: title;
  }

  & .transactionAmountContainer {
    grid-area: amount;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    & .MuiButtonGroup-root {
      margin-right: 0.5rem;
      & .MuiButton-contained {
        box-shadow: none;
      }
    }
  }

  & .transaction-category {
    grid-area: category;
  }

  & .transaction-comment {
    grid-area: comment;
  }

  & .transaction-time {
    grid-area: time;
  }

  & .submit {
    grid-area: submit;
  }

  @include md {
    gap: 1.5rem;
    width: 22rem;
  }
}
