@import "main";

.TransactionForm {
  position: relative;
  display: grid;
  grid-template:
    "title close" auto
    "amount amount" auto
    "category category" auto
    "comment comment" auto
    "time time" auto
    "submit submit" auto / 1fr;
  align-items: center;
  gap: $spacing-2 $spacing-4;

  @include md {
    gap: $spacing-2 $spacing-6;
  }

  &.horizontal {
    width: 100%;
    grid-template:
      "title title title close" auto
      "amount amount category category" auto
      "comment comment time submit" auto
      / 1fr 1fr 1fr 1fr;
    &.titleHidden {
      grid-template:
        "amount amount amount category category category" auto
        "comment comment time time submit close" auto
        / 1fr 1fr 1fr 1fr 1fr auto;
    }
    gap: $spacing-2 $spacing-2;

    // On larger screens, one row
    @include xl {
      grid-template:
        "title title title title close" auto
        "amount category comment time submit" auto
        / 5fr 4.2fr 3.5fr 3.6fr auto;
      &.titleHidden {
        grid-template:
          "amount category comment time submit close" auto
          / 5fr 4.2fr 3.5fr 3.6fr auto auto;
      }
    }
  }

  & .title {
    grid-area: title;
    display: flex;
  }

  & .transaction-amount {
    grid-area: amount;

    & .MuiInputAdornment-root {
      & .MuiIconButton-root {
        color: $primary-500;
      }
    }
  }

  & .transaction-category {
    grid-area: category;
  }

  & .transaction-comment {
    grid-area: comment;
  }

  & .transaction-time {
    grid-area: time;
  }

  & .submit {
    grid-area: submit;
  }

  & .close {
    grid-area: close;
  }

  & .MuiButton-root:not(.MuiButton-contained),
  & .MuiTextField-root {
    background: white;
  }

  & .buttonTextFieldGroup {
    display: flex;
    align-items: center;

    & .MuiButtonGroup-root {
      transform: scale(1.02);
    }

    & .MuiButton-root:last-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    & .MuiInputBase-root {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: transparent;
    }
  }

  &__CalculatorDialog {
    padding: $spacing-4;
    position: relative;

    & .MuiIconButton-root {
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      transform: scale(0.8);
      transform-origin: top left;
      border-top-left-radius: inherit;

      &:hover,
      &:focus {
        background: rgba(255, 255, 255, 0.9);
      }
      &:active {
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

@include darkmode {
  .TransactionForm {
    & .MuiButton-root:not(.MuiButton-contained),
    & .MuiTextField-root {
      background: $gray-810;
    }
    &__CalculatorDialog {
      & .MuiIconButton-root {
        background: $gray-820;

        &:hover,
        &:focus {
          background: $gray-810;
        }
        &:active {
          background: $gray-800;
        }
      }
    }
  }
}
