@import "main";

.AuthFrame {
  & > nav {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 $spacing-8;
    border-bottom: $border;
    background: $gray-100;
  }
  & > .content {
    width: 440px;
    max-width: calc(100% - #{$spacing-16});
    margin: $spacing-8 auto;

    & form {
      width: 100%;
      display: grid;
      grid-auto-flow: row;
      grid-gap: $spacing-4;
      place-items: center;

      & p {
        width: 100%;
      }
    }

    & button {
      margin-top: $spacing-2;
    }

    & h1 {
      text-align: center;
      margin-bottom: $spacing-8;
    }

    & h2 {
      margin-bottom: $spacing-8;
    }

    & footer {
      width: 100%;
      border-top: $border;
      padding-top: $spacing-8;
      margin-top: $spacing-12;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
