@import "main";

.Logo {
  display: inline-flex;
  align-items: center;
  gap: $spacing-3;

  & > .icon {
    width: 24px;
    height: 24px;
  }

  & > .text {
    /** General styles */

    cursor: pointer;

    & span {
      color: $black;
      font-size: $text-xl;
    }

    /** Letter specific styles */

    & span.letter-2 {
      color: $primary-500;
      transition: color $timing-theme;
    }

    /** Sizes */

    &.size-sm * {
      font-size: $text-sm;
    }

    &.size-md * {
      font-size: $text-md;
    }

    &.size-lg * {
      font-size: $text-lg;
    }

    &.size-xl * {
      font-size: $text-xl;
    }

    &.size-xxl * {
      font-size: $text-xxl;
    }

    &.size-xxxl * {
      font-size: $text-xxxl;
    }

    & .premiumLetter:nth-child(9) {
      margin-left: $spacing-2;
    }
  }
}
