@import "main";

.Logo {
  display: inline-flex;
  align-items: center;
  gap: $spacing-3;

  & > .icon {
    width: 24px;
    height: 24px;
  }

  & > .text {
    /** General styles */
    cursor: pointer;
    & .premiumLetter:nth-child(9) {
      margin-left: $spacing-2;
    }
  }
}

@include darkmode {
  .Logo {
    & > .text {
      & span {
        color: white;
      }
    }
  }
}
