@import "main";

.AppFrame {
  overflow: hidden;
  width: 100%;
  height: $fullvh;
  max-width: 100vw;
  max-height: $fullvh;

  display: grid;

  grid-template:
    "main" 1fr
    "nav" auto / 1fr;

  @include md {
    grid-template:
      "nav header" auto
      "nav main" 1fr / auto 1fr;
  }

  & > header {
    grid-area: header;
    display: none;
    z-index: 2;
    @include md {
      display: unset;
    }
  }

  & > main {
    grid-area: main;
    overflow: hidden;
    background: $gray-100;
    @include md {
      z-index: 1;
    }
  }

  & > nav {
    grid-area: nav;
    @include md {
      z-index: 3;
    }
  }
}
