@import "main";

.Dashboard {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;

  grid-template:
    "pageHeader" auto
    "filtersPanel" auto
    "transactionsList" 1fr / 1fr;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;

  & .PageHeader {
    grid-area: pageHeader;
  }

  & .transactionsList {
    grid-area: transactionsList;
    padding: 4px $spacing-sm;
    margin-top: 1rem;
    overflow-y: auto;
  }

  & .filtersPanel {
    grid-area: filtersPanel;
  }
}
