@import "main";

.Dashboard {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  position: relative;

  grid-template:
    "header" auto
    "panel" auto
    "transactionsList" 1fr / 100%;

  & .header {
    grid-area: header;
    padding: 0;
    @include md {
      padding: $spacing-12 $spacing-16 $spacing-4;
    }
  }

  & .transactionsList {
    grid-area: transactionsList;
    padding: 0;
    margin-top: 0;
    @include md {
      padding: 0 $spacing-16;
    }
  }

  & .panel {
    grid-area: panel;
    @include md {
      padding: $spacing-6 $spacing-16;
    }
  }
}
