.root {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;

  background: white;

  display: grid;

  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "children" "apptabs";
}

.childrenContainer {
  grid-area: children;
  height: 100%;
  width: 100%;
  overflow: auto;
}

@media (min-width: 600px) {
  .root {
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: "apptabs children";
  }
}
