@import "main";

.Analytics {
  & > section > .masonry {
    padding-bottom: $spacing-12;
  }

  padding: 0 $spacing-6;
  & > .AnalyticsBlock {
    margin-bottom: $spacing-6;
  }
  @include md {
    padding: $spacing-8 $spacing-16 $spacing-16;
  }
  & > h2 {
    margin: $spacing-6 0;
    @include md {
      margin: $spacing-8 0;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}
