@import "main";

.Sidebar {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;

  @include md {
    height: 100%;
    min-width: fit-content;
    width: 20vw;
    max-width: $sidebar-width;

    background: $gray-100;
    border-right: $border;
  }

  /** Desktop layout */
  & .sidebar {
    height: 100%;

    & .header {
      height: $header-height;

      padding: 0 $spacing-8;

      border-bottom: $border;

      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    & .body {
      display: flex;
      flex-direction: column;

      & .selections {
        padding: $spacing-6 $spacing-4;

        border-bottom: $border;

        & .selections-title {
          margin-bottom: $spacing-4;
          margin-left: $spacing-4;
        }

        & .selection {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          padding: $spacing-3 $spacing-4;
          margin-bottom: $spacing-2;

          border: none;
          background: none;
          border-radius: $radius-lg;

          cursor: pointer;

          &:focus,
          &:hover {
            outline: none;
            background: $gray-200;
            &.active {
              background: $primary-600;
              transition: background-color $timing-theme;
            }
          }

          &:active {
            background: $gray-300;
            &.active {
              background: $primary-700;
              transition: background-color $timing-theme;
            }
          }

          & svg {
            margin-right: $spacing-4;
            transform: scale(0.9);
            transform-origin: left;
            color: $gray-700;
            stroke-width: 2.5px;
          }

          & .Type {
            color: $gray-700;
          }

          &.active {
            background: $primary-500;
            transition: background-color $timing-theme;
            color: white;
            & .Type,
            & svg {
              color: white;
              stroke-width: 1.5px;
            }
          }
        }
      }
    }
  }

  /** Mobile bottom navigation layout */
  & .tabs {
    display: grid;
    grid-auto-flow: column;

    & .tabContainer {
      display: grid;
      place-items: center;

      & .tab {
        position: relative;
        padding: 1rem;
        border-radius: 0;
        width: 100%;

        &.add {
          & svg {
            transform: scale(1.2);
            color: $primary-500;
            transition: color $timing-theme;
          }
        }

        &.active svg {
          color: $primary-500;
          transition: color $timing-theme;
        }

        &::after {
          $size: 6px;
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: $size;
          border-radius: $size $size 0 0;
          background: $primary-500;
          transform: translateY(100%) scale(0);
          transition: transform $timing-3 $animate-snap-back,
            background-color $timing-theme;
        }

        &.active::after {
          transform: translateY(0) scale(1);
        }
      }
    }
  }
}
