@import "main";

.Skeleton {
  display: block;
  position: relative;
  min-width: 2px;
  min-height: 2px;
  background: rgb(223, 223, 223);
  border-radius: 4px;
  overflow: hidden;

  & .SkeletonInner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 64px;
    background: white;
    opacity: 50%;
    filter: blur(10px);
    animation: Skeleton-animation 1500ms 1000ms infinite
      cubic-bezier(0.09, 0.83, 0.2, 0.99);
    transform: skewX(-10deg);
  }
}

@keyframes Skeleton-animation {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
