@import "main";

.TransactionTableHeader {
  display: grid;
  grid-template-columns: 12rem 1fr 32px 3fr 8rem 5rem 8px;
  grid-template-areas: "category amount p1 comment date actions scrollbarpadding";
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $color-divider;

  & .amount {
    grid-area: amount;
    justify-self: end;
  }

  & .category {
    grid-area: category;
  }

  & .comment {
    grid-area: comment;
  }

  & .date {
    grid-area: date;
    justify-self: end;
  }

  & .actions {
    grid-area: actions;
  }

  & p {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
  }
}
