@import "main";

.PageHeader {
  position: relative;
  background: $color-primary-main;
  width: 100%;
  height: $app-header-height;
  color: white;
  .texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    object-fit: cover;
  }
}
