@import "main";

// Generate all color styles
@each $name, $color in $colors {
  .PiechartCircle > path.segment.color-#{$name} {
    stroke: $color;
    fill: transparent;
    &:hover {
      filter: drop-shadow(0 0 5px $color);
    }
  }
}

.PiechartCircle {
  overflow: visible;
  & > path.segment {
    stroke-linecap: round;
  }
}
