@import "main";

.BudgetsPanel {
  background: white;
  border-bottom: 1px solid $gray-200;
  padding: adjust-spacing($spacing-4, $spacing-icon-button)
    adjust-spacing($spacing-6, $spacing-button-horizontal)
    adjust-spacing($spacing-4, $spacing-icon-button)
    adjust-spacing($spacing-6, $spacing-button-horizontal);

  & > .IntervalManager {
    justify-content: space-between;
  }
}
