@import "main";

.BudgetsOverview {
  padding: $spacing-6;
  border: $border;
  border-radius: $radius-md;

  & > header {
    display: flex;
    align-items: center;
    padding-bottom: $spacing-4;
  }
  & > footer {
    padding-top: $spacing-8;
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
  }

  & > .content {
    display: grid;

    grid-template:
      "percentage percentage" auto
      "progress estimate" auto
      "incomes incomes" auto
      "expenses expenses" auto / 1fr 1fr;

    @include sm {
      &:not(.variant-narrow) {
        grid-template:
          "header header" auto "percentage percentage" auto
          "progress estimate" auto "incomes expenses" auto / 1fr 1fr;
        & > .subtotal.incomes {
          justify-self: flex-end;
        }
        & > .subtotal.expenses {
          justify-self: flex-start;
        }
      }
    }

    gap: $spacing-8 $spacing-10;

    & > .percentage {
      grid-area: percentage;
      justify-self: center;
    }

    & > .progress {
      grid-area: progress;
      text-align: right;
    }

    & > .estimate {
      grid-area: estimate;
    }

    & > .subtotal {
      justify-self: center;
      &.incomes {
        grid-area: incomes;
      }
      &.expenses {
        grid-area: expenses;
      }

      display: grid;
      height: fit-content;
      grid-template:
        "percentage title" 1fr
        "percentage value" 1fr
        / auto 1fr;
      gap: 0 $spacing-6;

      & > .percentage {
        grid-area: percentage;
      }
      & > .title {
        grid-area: title;
      }
      & > .value {
        grid-area: value;
      }
    }
  }
}
