@import "main";

.DashboardHeader {
  /** Mobile styles */
  &.mobile {
    position: relative;
    height: $mobile-header-height;
    width: 100%;

    & .texture-image-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $mobile-header-height;
      width: 100%;
      height: 100%;
      background: $blue-500;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        mix-blend-mode: multiply;
      }
    }

    & .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $mobile-header-height;

      // On right, account for 12 px IconButton padding
      padding: $spacing-6 calc(#{$spacing-6} - 12px) $spacing-4 $spacing-6;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      & > section {
        display: flex;
        align-items: center;
        width: 100%;

        &.title {
          justify-content: flex-start;
          & > * {
            margin-right: $spacing-2;
          }
        }
      }
    }

    & .MuiIconButton-root {
      color: white;
    }
  }

  /** Desktop styles */

  &.desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > .right {
      & > .total {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      & > .subtotals {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        & > div {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          &:first-child {
            margin-right: $spacing-6;
          }
          & > svg {
            color: $gray-600;
            margin-right: $spacing-2;
          }
        }
      }
    }
  }
}
