@import "main";

// Generate all color styles
@each $name, $color in $colors {
  .PercentageCircle > svg > circle.background.color-#{$name} {
    fill: $color;
  }
  .PercentageCircle > svg > path.color-#{$name} {
    stroke: $color;
    filter: drop-shadow(0 0 5px $color);
  }
}

@include darkmode {
  @each $name, $color in $colors {
    .PercentageCircle > svg > path.color-#{$name} {
      filter: drop-shadow(0 0 5px $color);
    }
  }
}

.PercentageCircle {
  position: relative;
  width: fit-content;
  height: fit-content;

  & label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & svg {
    overflow: visible;
    & path {
      fill: transparent;
      stroke-width: 4px;
      stroke-linecap: round;
    }
  }
}
