@import "main";

.SubscriptionFrame {
  $max-width: 600px;
  @mixin width {
    width: calc(100vw - #{$spacing-12});
    max-width: $max-width;
  }
  & > header {
    & > .headerContent {
      @include width;
    }

    &.stickyHeader {
      position: sticky;
      top: 0;
      & > .headerContent {
        padding: $spacing-4 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > .logoContainer,
        & > .authContainer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          & svg {
            color: white;
          }
        }
        & > .authContainer > .auth {
          display: none;
          @include sm {
            display: block;
          }
        }
      }
    }

    &.customHeader > .headerContent {
      padding: 0 0 $spacing-6;
      margin: 0 auto;
    }

    background: $primary-600;
    transition: background-color $timing-theme;
  }
  & > main {
    @include width;
    margin: 0 auto;

    padding: $spacing-8 0;
  }

  & header h2 {
    padding-top: $spacing-4;
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 100px;
      background: white;
      margin: $spacing-4 0 $spacing-4;
    }
  }
}

@include darkmode {
  .SubscriptionFrame {
    background: $gray-830;
    & > header {
      background: $primary-700;
      transition: background-color $timing-theme;
    }

    & header h2 {
      &::before {
        background: white;
      }
    }
  }
}
