@import "main";

.TransactionListItemSkeleton {
  $size: 48px;

  position: relative;

  & .MuiSkeleton-root:not(.MuiSkeleton-circle) {
    border-radius: 4px;
  }

  & .TransactionListItemSkeletonHeader {
    &:first-child {
      margin-top: $spacing-4;
    }
    height: 40px;
    padding: $fixed-spacing-2 0 $fixed-spacing-2 $fixed-spacing-6;
    width: 100%;
  }

  & .TransactionListItemSkeletonBody {
    height: 80px;
    padding: $fixed-spacing-4 $spacing-6;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "icon category amount"
      "icon comment amount";
    grid-gap: 0 $spacing-4;
    place-items: center stretch;

    & .icon {
      grid-area: icon;
      place-self: center;
      height: 48px;
      width: 48px;
      place-self: center;

      & .iconSkeleton {
        border-radius: 100%;
      }
    }

    & .category {
      grid-area: category;
      height: 24px;
      padding: 4px 0;
    }

    & .comment {
      height: 24px;
      grid-area: comment;
      padding: 4px 0;
    }

    & .amount {
      grid-area: amount;
      place-self: center;
      height: 24px;
    }
  }
}
