@import "main";

.ActiveFilters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  overflow-x: auto;
  // flex-wrap: wrap;

  & .activeFilterChip {
    max-width: 90vw;
    @include sm {
      max-width: calc(0.8 * calc(100vw - #{$app-tab-width}));
    }

    // border-color: white;
    // & * {
    //   color: white;
    // }
  }
}
