@import "main";

.SettingsSection {
  margin: 0 auto;
  max-width: 600px;
  padding: $spacing-8 $spacing-6;

  & > .sectionTitle {
    display: block;
    margin-bottom: $spacing-4;
  }
  & > .content {
    display: block;
  }
}
