@import "main";

.SettingsSection {
  position: relative;
  margin: $spacing-8 auto;
  width: calc(100vw - #{2 * $spacing-6});
  max-width: calc(660px - #{2 * $spacing-6});
  border-radius: $radius-md;
  border: $border;
  padding: $spacing-6 $spacing-6;

  // Adjust top margin of first SettingsSection on mobile
  &:first-of-type {
    margin-top: $spacing-16;
    @include md {
      margin-top: unset;
    }
  }

  & > .sectionTitle {
    display: block;
    margin-bottom: $spacing-6;
  }
  & > .content {
    display: block;
  }
}
