@import "main";

.IntervalPickerForm {
  @include sm {
    // max-width: 80vw;
    min-width: 300px;
  }

  & section.intervalLength {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -1 * $spacing-4;
    & button {
      flex: 1;
      border-radius: 0;
      border-bottom: 3px solid $gray-200;
      &.active {
        border-bottom-color: $primary-500;
        transition: border-bottom-color $timing-theme;
      }
    }
  }

  & section.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-2 0;

    // border-bottom: $border;
    // margin-bottom: $spacing-4;
    // padding-bottom: $spacing-4;

    & * {
      color: $gray-800;
    }

    & .currentInterval {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      & svg {
        margin-right: $spacing-3;
      }
    }

    & .nextOrPreviousInterval {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      & button:disabled * {
        color: $gray-400;
      }
    }
  }

  // & section.dateSection {
  // padding: $spacing-4 0;
  //
  // & > *:first-child {
  // margin-bottom: $spacing-4;
  // }
  // }
}
