@import "main";

.Type {
  & * {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  &.centered {
    text-align: center;
    margin: 0 auto;
  }

  &.pointerEventsDisabled {
    pointer-events: none;
  }

  /** Variants */
  &.Type-variant-regular {
    @include text-regular;
  }
  &.Type-variant-bold {
    @include text-bold;
  }
  &.Type-variant-boldcaps {
    @include text-boldcaps;
  }

  /** Sizes */

  &.Type-size-sm {
    font-size: $text-sm;
  }
  &.Type-size-md {
    font-size: $text-md;
  }
  &.Type-size-lg {
    font-size: $text-lg;
  }
  &.Type-size-xl {
    font-size: $text-xl;
  }
  &.Type-size-xxl {
    font-size: $text-xxl;
  }
  &.Type-size-xxxl {
    font-size: $text-xxxl;
  }

  /** White */

  &.Type-color-white {
    color: white;
  }

  /** Black */

  &.Type-color-black {
    color: black;
  }

  /** Primaries */

  &.Type-color-primary-100 {
    color: $primary-100;
    transition: color $timing-theme;
  }
  &.Type-color-primary-200 {
    color: $primary-200;
    transition: color $timing-theme;
  }
  &.Type-color-primary-300 {
    color: $primary-300;
    transition: color $timing-theme;
  }
  &.Type-color-primary-400 {
    color: $primary-400;
    transition: color $timing-theme;
  }
  &.Type-color-primary-500 {
    color: $primary-500;
    transition: color $timing-theme;
  }
  &.Type-color-primary-600 {
    color: $primary-600;
    transition: color $timing-theme;
  }
  &.Type-color-primary-700 {
    color: $primary-700;
    transition: color $timing-theme;
  }
  &.Type-color-primary-800 {
    color: $primary-800;
    transition: color $timing-theme;
  }
  &.Type-color-primary-900 {
    color: $primary-900;
    transition: color $timing-theme;
  }

  /** Blues */

  &.Type-color-blue-100 {
    color: $blue-100;
  }
  &.Type-color-blue-200 {
    color: $blue-200;
  }
  &.Type-color-blue-300 {
    color: $blue-300;
  }
  &.Type-color-blue-400 {
    color: $blue-400;
  }
  &.Type-color-blue-500 {
    color: $blue-500;
  }
  &.Type-color-blue-600 {
    color: $blue-600;
  }
  &.Type-color-blue-700 {
    color: $blue-700;
  }
  &.Type-color-blue-800 {
    color: $blue-800;
  }
  &.Type-color-blue-900 {
    color: $blue-900;
  }

  /** Reds */

  &.Type-color-red-100 {
    color: $red-100;
  }
  &.Type-color-red-200 {
    color: $red-200;
  }
  &.Type-color-red-300 {
    color: $red-300;
  }
  &.Type-color-red-400 {
    color: $red-400;
  }
  &.Type-color-red-500 {
    color: $red-500;
  }
  &.Type-color-red-600 {
    color: $red-600;
  }
  &.Type-color-red-700 {
    color: $red-700;
  }
  &.Type-color-red-800 {
    color: $red-800;
  }
  &.Type-color-red-900 {
    color: $red-900;
  }

  /** Greens */

  &.Type-color-green-100 {
    color: $green-100;
  }
  &.Type-color-green-200 {
    color: $green-200;
  }
  &.Type-color-green-300 {
    color: $green-300;
  }
  &.Type-color-green-400 {
    color: $green-400;
  }
  &.Type-color-green-500 {
    color: $green-500;
  }
  &.Type-color-green-600 {
    color: $green-600;
  }
  &.Type-color-green-700 {
    color: $green-700;
  }
  &.Type-color-green-800 {
    color: $green-800;
  }
  &.Type-color-green-900 {
    color: $green-900;
  }

  /** Yellows */

  &.Type-color-yellow-100 {
    color: $yellow-100;
  }
  &.Type-color-yellow-200 {
    color: $yellow-200;
  }
  &.Type-color-yellow-300 {
    color: $yellow-300;
  }
  &.Type-color-yellow-400 {
    color: $yellow-400;
  }
  &.Type-color-yellow-500 {
    color: $yellow-500;
  }
  &.Type-color-yellow-600 {
    color: $yellow-600;
  }
  &.Type-color-yellow-700 {
    color: $yellow-700;
  }
  &.Type-color-yellow-800 {
    color: $yellow-800;
  }
  &.Type-color-yellow-900 {
    color: $yellow-900;
  }

  /** Pinkss */

  &.Type-color-pink-100 {
    color: $pink-100;
  }
  &.Type-color-pink-200 {
    color: $pink-200;
  }
  &.Type-color-pink-300 {
    color: $pink-300;
  }
  &.Type-color-pink-400 {
    color: $pink-400;
  }
  &.Type-color-pink-500 {
    color: $pink-500;
  }
  &.Type-color-pink-600 {
    color: $pink-600;
  }
  &.Type-color-pink-700 {
    color: $pink-700;
  }
  &.Type-color-pink-800 {
    color: $pink-800;
  }
  &.Type-color-pink-900 {
    color: $pink-900;
  }

  /** Purples */

  &.Type-color-purple-100 {
    color: $purple-100;
  }
  &.Type-color-purple-200 {
    color: $purple-200;
  }
  &.Type-color-purple-300 {
    color: $purple-300;
  }
  &.Type-color-purple-400 {
    color: $purple-400;
  }
  &.Type-color-purple-500 {
    color: $purple-500;
  }
  &.Type-color-purple-600 {
    color: $purple-600;
  }
  &.Type-color-purple-700 {
    color: $purple-700;
  }
  &.Type-color-purple-800 {
    color: $purple-800;
  }
  &.Type-color-purple-900 {
    color: $purple-900;
  }

  /** Grays */

  &.Type-color-gray-100 {
    color: $gray-100;
  }
  &.Type-color-gray-200 {
    color: $gray-200;
  }
  &.Type-color-gray-300 {
    color: $gray-300;
  }
  &.Type-color-gray-400 {
    color: $gray-400;
  }
  &.Type-color-gray-500 {
    color: $gray-500;
  }
  &.Type-color-gray-600 {
    color: $gray-600;
  }
  &.Type-color-gray-700 {
    color: $gray-700;
  }
  &.Type-color-gray-800 {
    color: $gray-800;
  }
  &.Type-color-gray-900 {
    color: $gray-900;
  }
}
