@import "main";

.ActionsPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.mobile {
    & .intervalManager {
      flex: 1;
      & .IntervalManager {
        justify-content: space-between;
      }
    }
    border-bottom: 1px solid $gray-200;
    padding: adjust-spacing($spacing-4, $spacing-icon-button)
      adjust-spacing($spacing-6, 20px)
      adjust-spacing($spacing-4, $spacing-icon-button)
      adjust-spacing($spacing-6, $spacing-button-horizontal);
    &.searchIsOpen {
      padding-right: adjust-spacing($spacing-6, 12px);
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      padding-right: adjust-spacing($spacing-6, 12px);
    }
    &.selection {
      // padding: adjust-spacing($spacing-4, $spacing-icon-button);
      & .selection-container {
        flex: 1;
        display: flex;
        align-items: center;
        margin-left: calc(-1 * #{$spacing-icon-button});
        & .selection-info {
          flex: 1;
          display: flex;
          align-items: center;
        }
        & .selection-actions {
          & .MuiIconButton-root {
            color: $gray-800;

            &.deleteButton {
              color: $red-600;
            }
            &:disabled {
              color: $gray-500;
            }
          }
        }
      }
    }
  }

  &.desktop {
    // Adjust scale visually by small amount
    & > div {
      transform: scale(0.95);
      &:first-child {
        transform-origin: left;
      }
      &:last-child {
        transform-origin: right;
      }
    }
    & .actionButtons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      gap: $spacing-3;
    }
    & .filtersButton {
      flex: 1;
    }
    & .button {
      padding: $spacing-2 $spacing-4;
      & svg {
        transform: scale(1.1);
        margin-right: $spacing-2;
      }
      &.editButton,
      &.moreButton {
        & * {
          color: $gray-800;
        }
        &:disabled * {
          color: $gray-500;
        }
      }
      &.deleteButton {
        & * {
          color: $red-600;
        }
        &:disabled * {
          color: $gray-500;
        }
      }
    }
  }

  &__moreMenu {
    & .menuItem {
      gap: $spacing-3;
      & .Type {
        transform: scale(0.9);
      }
      & svg {
        font-size: 1.5rem;
      }
    }
  }
}
