@import "main";

.ActionsPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.mobile {
    border-bottom: 1px solid $gray-200;
    &.default {
      padding: adjust-spacing($spacing-4, $spacing-icon-button)
        adjust-spacing($spacing-6, 20px)
        adjust-spacing($spacing-4, $spacing-icon-button)
        adjust-spacing($spacing-6, $spacing-button-horizontal);
      &.searchIsOpen {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        padding-right: adjust-spacing($spacing-6, 12px);
      }
    }
    &.selection {
      padding: adjust-spacing($spacing-4, $spacing-icon-button);
      & .selection-info {
        display: flex;
        align-items: center;
      }
      & .selection-actions {
        & .MuiIconButton-root {
          color: $gray-800;

          &.deleteButton {
            color: $red-600;
          }
          &:disabled {
            color: $gray-500;
          }
        }
      }
    }
  }

  &.desktop {
    // Adjust scale visually by small amount
    & > div {
      transform: scale(0.95);
      &:first-child {
        transform-origin: left;
      }
      &:last-child {
        transform-origin: right;
      }
    }
    & .actionButtons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
    & .filtersButton {
      flex: 1;
    }
    & .button {
      padding: $spacing-2 $spacing-4;
      & svg {
        transform: scale(1.1);
        margin-right: $spacing-2;
      }
      &.editButton {
        margin-left: $spacing-4;
        & * {
          color: $gray-800;
        }
        &:disabled * {
          color: $gray-500;
        }
      }
      &.deleteButton {
        margin-left: $spacing-4;
        & * {
          color: $red-600;
        }
        &:disabled * {
          color: $gray-500;
        }
      }
    }
  }
}
