@import "main";

.BetaFeatureBanner {
  background: $white;
  border: 1px solid $gray-300;
  border-radius: $spacing-1;
  padding: $spacing-4;

  & > p {
    padding-bottom: $spacing-3;
  }
}

@include darkmode {
  .BetaFeatureBanner {
    background: $gray-810;
    border-color: $gray-800;
  }
}
