.root {
  background-color: transparent;
  outline: none;
  border: none;
  display: grid;
  place-items: center;
  transition: background-color 100ms;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
}

.root:hover {
  background-color: var(--color-action-hover);
  transition: background-color 50ms;
}

.root:active {
  background-color: var(--color-action-active);
}
