@import "main";

.SettingsHeader {
  /** Mobile styles */
  &.mobile {
    position: relative;
    height: $mobile-header-height;
    width: 100%;
    margin-bottom: $spacing-8;

    & .texture-image-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $mobile-header-height;
      width: 100%;
      height: 100%;
      background: $primary-500;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        mix-blend-mode: multiply;
      }
    }

    & .content {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      & .UserAvatar {
        box-shadow: $shadow-md;
        $size: 100px;
        width: $size;
        height: $size;
      }
    }
  }
}
