@import "main";

.SubscribeBanner {
  background: $primary-600;
  transition: background-color $timing-theme;
  width: 100%;
  padding: $spacing-6;
  border-radius: $spacing-1;

  & > p {
    margin-bottom: $spacing-4;
  }

  & > button {
    margin-top: $spacing-4;
  }
}
